<ul class="navbar">
    <div class="navbar-container">
{% if page.description %}
  {% assign description = page.description %}
{% else %}
  {% assign description = page.title %}
{% endif %}

     <li class="nav-title">{{ description }}</li>

<!-- O stránke - pridané odkazom na zadanie -->
     <li style="float:right" {% if "/wpub/zadanie1.html" == page.url %} class="active" {% endif %}>
          <a href="/wpub/zadanie1.html" >            
            About site
          </a>
    </li>

 {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' | reverse %}
    {% for p in navigation_pages %}
      {% if p.navigation_weight %}
        <li style="float:right" {% if p.url == page.url %} class="active" {% endif %}>
          <a href="{{ p.url }}" >            
            {{ p.title }}
          </a>
        </li>
      {% endif %}
{% endfor %}
 
    </div>
</ul>