---
layout: default
---
<div class="book">
  <h2>{{ page.title }}</h2>
  <h3>{{ page.author }}</h3>
  <p style="text-align: center; margin-bottom: 20px; font-style: italic">
    {% for genre in page.genre %}       
      {% if forloop.last %}
        {{ genre }}
      {% else %}
        {{ genre }},
      {% endif %}
    {% endfor %}
  </p> 
  <p> 
 {{ content }}
 </p>
</div>
<div>
  <p>
    <a href="{{ page.goodreads }}"> <img class="reference-image" src="/images/goodreads_logo.jpg" alt="Odkaz na goodreads"/> </a>
    <a href="{{ page.martinus }}"> <img class="reference-image" src="/images/martinus_logo.jpg" alt="Odkaz na goodreads"/> </a>  
  </p>
</div>