<!DOCTYPE html>
<html>

<div class="wrapper">

	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">

	</head>

	<body>

		<div class="header">
			{% include nav.html %}
		</div>

		<div class="content {% if page.title != "Home" %} container {% endif %}">
			{{ content }}
		</div>

		<footer class="site-footer">
			{% include footer.html %}
		</footer>

	</body>


</div>

</html>